* {
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
	font-size: 4em;
	padding: .5em;
	color: white;
	background-color: rgb(82, 82, 82);
}

.wrapper {
	display: grid;
	grid-template-columns: 30% 65%;
	grid-column-gap: 3em;
	padding: 1em;
}

#search-prompt {
	display: block;
	font-size: 1.7em;
}

#city-search {
	margin: 1em 0;
	padding: .5em;
}

#submitBtn {
	padding: .7em;
	margin: 0;
	border: none;
	color: white;
	background-color: rgb(53, 139, 252);
}

.city-list {
	list-style: none;
}

.city {
	padding: 1em;
	font-size: 1.2em;
	border: solid gray 1px;
	border-radius: .5em;
}

.weather-current {
	border: solid gray 1px;
	padding: 1.5em;
	border-radius: .5em;
}

.image-grid {
	display: grid;
	grid-template-columns: auto auto;
	grid-row-gap: 4em;
}

.filler-image {
	margin: auto;
}

.weather-city {
	display: flex;
	line-height: 1.5;
	font-size: 2em;
}

.weather-icon {
	margin-left: .5em;
}

.weather-details {
	margin-top: 1em;
}

#uv-value {
	padding: .3em;
}

.low {
	background-color: green;
}

.moderate {
	background-color: yellow;
}

.high {
	background-color: orange;
}

.very-high {
	background-color: red;
}

.extreme {
	background-color: violet;
}

.hide {
	display: none;
}

.weather-forecast {
	padding: 1.5em;
}

.forecast-head {
	font-size: 1.7em;
}

.forecast-wrapper {
	margin-top: .5em;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: .7em;
}

.forecast-panel {
	border: solid gray 1px;
	border-radius: 5px;
	padding: .5em;
	text-align: center;
	color: white;
	background-color: rgb(53, 139, 252);
}

.forecast-day {
	font-size: 1.2em;
}

@media only screen and (max-width: 768px) {
	
.wrapper {
	display: block;
}

.weather-info {
	margin-top: 1em;
}

.forecast-wrapper {
	grid-template-columns: auto;
	grid-row-gap: .7em;
}

}